@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background:#333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 2%;
  }
  
  header .img{
    float: left;
    padding-left: 3rem;
    margin-left: 25px;
}
  
  header .logo span{
    color:var(--orange);
  }
  
  header .navbar a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    
  }
  
  header .navbar a:hover{
    color:var(--orange);
  }

  .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  .home .content{
    text-align: center;
  }
  
  .home .content h3{
    font-size: 50 px;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
  }
  
  .footer{
    background:#333;
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }

  .footer .credit span{
    color:var(--orange);
  }

  .Testimonial{
    margin-bottom: 150px;
    padding-left: 150px;
    margin-left: 10px;
    margin-right: 100px;

  }

  .item{
    background-color: #fff;
    width: 450px;
    height: 200px;
  }
  
  